# latex
*.pdf
*.aux
*.out
*.log
*.gz
*.toc

# c++ programming
*.exe
*.obj
*.cd
*.dll
*.exp
*.lib

*.bsc
*.pch
*.ilk
*.pdb
*.tlog
*.sbr
*.idb
*.vssscc
*.vcxproj*
*.vspscc
*.pch

*.deps
*.cache
*.lastbuildstate

.vs/*
test/*
